* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}  
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}   
  
::-webkit-scrollbar-thumb {
    background: rgba(60,62,64,1);
    background: linear-gradient(0deg, rgb(177, 176, 180) 13%, rgba(60,62,64,1) 100%); 
}  

::-webkit-scrollbar-thumb:horizontal{
    background: rgba(60,62,64,1);
    background: linear-gradient(-90deg, rgb(177, 176, 180) 13%, rgba(60,62,64,1) 100%); 
}
 
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;   
}

.pageOne {  
    padding: 20px 0 70px;
    position: relative;   
    min-height: 100vh; 
    background: url('../images/front.jpg') repeat center; 
    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.4);
    }

    .heading {     
        position: relative;      
        width: 400px;
        height: 90px;
        border: 4px solid #248ec4;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto 20px;
        @media (max-width: 500px) {
            width: 315px;
            height: 75px;
        }       

        h1 {
            text-align: center;
            font-family: 'Asteroid';
            font-weight: normal;
            color: #f4d538;
            font-size: 52px;
            margin-top: 5px;
            @media (max-width: 500px) {
                font-size: 40px; 
            }
        }
    }    
}

.showTable, .timesPassed, .backBtn {
    position: relative;     
    border: 3px solid #248ec4;
    font-weight: 700;
    color:#ffe359;
    background: transparent;
    transition: .3s;
    &:hover {
        background: #248ec4;
        color: #fff;
        cursor: pointer;
    }    
    &:focus {
        outline: none;
    }    
}

.none {
    display: none;
}

.swal2-icon.swal2-warning {
    border-color: #f4d538;
    color: #f4d538;
}

.swal2-styled.swal2-confirm {
    background-color: #62a4e2;
}

@font-face {
    font-family: 'Asteroid';
    src: url(../fonts/MR_ROBOT.ttf);
}

