.tableData {
    width: 60%;  
    min-height: 250px;  
    margin: auto;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 100px;       
    @media (max-width: 768px) {       
        width: 100%;   
    }    

    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }      

    th, td {
        padding: 10px 13px;
    }   

    th {
        background: #ffe359;
    }

    tr:nth-child(odd) {
        background: #8bc4e0a6;
    }

    tr:nth-child(even) {
        background: #d7d7d7;
    }

    table {          
        @media (max-width: 768px) {
            display: block;     
            overflow-x: auto; 
            width: 100%;   
        }   
    } 
}

// Loader
.circle-loader {
    position: absolute;
    display: none;
}

.circle-loader div {
    height: 10px;
    width: 10px;
    background-color: #f4d538;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: 1.3s opaque ease-in-out infinite both;
    animation: 1.3s opaque ease-in-out infinite both;
}

.circle-loader > div:nth-child(1) {
    top: -25px;
    left: 0;
}

.circle-loader > div:nth-child(2) {
    top: -17px;
    left: 17px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.circle-loader > div:nth-child(3) {
    top: 0;
    left: 25px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.circle-loader > div:nth-child(4) {
    top: 17px;
    left: 17px;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.circle-loader > div:nth-child(5) {
    top: 25px;
    left: 0;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.circle-loader > div:nth-child(6) {
    top: 17px;
    left: -17px;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.circle-loader > div:nth-child(7) {
    top: 0;
    left: -25px;
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

.circle-loader > div:nth-child(8) {
    top: -17px;
    left: -17px;
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}

@-webkit-keyframes opaque {
    0%, 40%, 100% {
      opacity: 0.4;
    }
    40% {
      opacity: 1;
    }
}

@keyframes opaque {
    0%, 40%, 100% {
      opacity: 0.4;
    }
    40% {
      opacity: 1;
    }
}
