.pageTwo {
    position: relative;
    padding: 50px 100px;
    min-height: 100vh;
    background: url('../images/earth.jpg') repeat center;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.4);
    }

    h2 {
        position: relative;
        margin: 20px 0 60px;
        color: #fff;
        z-index: 1;
        @media (max-width: 870px) {
            margin: 20px 0 30px;
            font-size: 19px;
        }
    }
   
    .backBtn {
        position: relative;
        width: 85px;
        height: 40px;
        font-size: 17px;
        margin-bottom: 25px;
        color: #ffe359;    
    }
    
    .astOne {
        width: 100%;
        height: 45px;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;       
        margin: 25px 0px;

        .name {
            position: relative;
            width: 170px;
            height: 45px;            
            line-height: 45px;
            display: inline-block;
            font-size: 16px;
            color: #fff;
        }

        .chart {
            position: relative;
            width: 500px;
            height: 45px;      

            .chartload {
                height: 100%;  
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px;
                font-weight: bold;
            }           
        }
        
        @media (max-width: 776px) {
            height: 90px;
            margin: 15px 0px;
        }
    }

    @media (max-width: 870px) {
        padding: 50px;
    }
}